<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <form>
     <header class="intro-header" style="background-image: url('images/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 data-ng-if="!title">Page Title Appears Here</h1>
                        <h1>{{title}}</h1>
                        <h2 class="subheading" data-ng-if="!summary">This is where the post summary would appear</h2>
                        <h2 class="subheading">{{summary}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div>
                    <p data-ng-if="!body">Post content would appear here. There is no charater limit as to how much you can write, feel free to write whatever comes to come.</p>
                    <p>{{body}}</p>
                    <i><p><span class="h4">Keywords: </span><strong>{{keywords}}</strong><strong ng-if="!keywords">a, list, of, comma, separated, keywords</strong></p></i>
                  </div>
                  <hr>
                  <div class="form-group">
                      <label for="title" class="post-heading">Title</label>
                      <input class="form-control" id="Title" data-ng-model="title">
                    </div>
                    <div class="form-group post-heading">
                      <label for="summary" class="post-heading">Summary</label>
                      <input class="form-control" id="Title" data-ng-model="summary"></div>
                    <div class="form-group post-heading">
                      <label for="keywords">Keywords</label>
                      <textarea class="form-control" rows="3" id="keywords" data-ng-model="keywords" data-ng-autosize></textarea>
                      <p class="small help-block">use a comma after each keyword</p>
                    </div>
                    <div class="form-group post-heading">
                      <label for="body">Body</label>
                      <textarea class="form-control" rows="10" id="body" data-ng-model="body" data-ng-autosize></textarea>
                    </div>
                    <div class="form-group post-heading">
                      <p>
                      
                      </p>
                      <label for="inputFile">Upload an Image</label>
                      <input type="file" id="fileURL" data-ng-model="coverArtURL">
                      <p class="small help-block">jpg, png, pdf, and gif formats are supported</p>
                    </div>
                    <div class="text-right">
                      <a href="" data-ng-click="addPost()" class="btn btn-default">Publish</a>
                  </div>
                </div>
            </div>
        </div>
    </article>   
 </form> 
