<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Coder's Blog</h1>
                        <hr class="small">
                        <span class="subheading">Thoughts, Ideas, Discussions</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- Main Content -->
    <div data-ng-if="posts" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div>
                  <ul class="list-inline">
                    <li><strong>Categories:</strong></li>
                    <li><span class="badge">All</span></li>
                    <li data-ng-repeat="cat in categories.data.data.viewer.allCategorys.edges"><span class="badge">{{cat.node.name}}</span></li>
                  </ul>
                </div>
                <hr>
                <div data-ng-repeat="post in posts.data.data.viewer.allPosts.edges" class="post-preview">
                    <a href data-ng-href="#/post/{{post.node.id}}">
                        <h2 class="post-title">
                            {{post.node.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.node.summary}}
                        </h3>
                    </a>
                  <p class="post-meta">Posted by <a href data-ng-href="#">{{post.node.author.firstName}}</a> on {{post.node.createdAt | date: 'MMMM dd, yyyy'}}</p>
                </div>
               
                <!-- Pager -->
                <div>
                  <ul class="pager">
                      <li data-ng-if="posts.data.data.viewer.allPosts.pageInfo.hasPreviousPage" class="previous">
                          <a href="" data-ng-click="prevPosts(posts.data.data.viewer.allPosts.edges[0].cursor)"><span aria-hidden="true">&larr;</span> Newer Posts</a>
                      </li>
                      <li data-ng-if="posts.data.data.viewer.allPosts.pageInfo.hasNextPage" class="next">
                          <a href="" data-ng-click="nextPosts(posts.data.data.viewer.allPosts.edges[posts.data.data.viewer.allPosts.edges.length-1].cursor)">Older Posts <span aria-hidden="true">&rarr;</span></a>
                      </li>
                  </ul>
                </div>
                <div><p></p></div> 
            </div>
        </div>
    </div>