<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <form>
     <header class="intro-header" style="background-image: url('images/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{title}}</h1>
                        <h2 class="subheading">{{summary}}</h2>
                        <span class="meta">Last Updated on {{post.data.data.getPost.modifiedAt | date: 'MMMM dd, yyyy'}} <i class="fa fa-heart-o" aria-hidden="true"></i> {{post.data.data.getPost.likes}} <i class="fa fa-comment-o" aria-hidden="true"></i> {{post.data.data.getPost.comments.pageInfo.count}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="form-group">
                      <label for="title" class="post-heading">Title</label>
                      <input class="form-control" id="Title" data-ng-model="title">
                    </div>
                    <div class="form-group post-heading">
                      <label for="summary" class="post-heading">Summary</label>
                      <input class="form-control" id="Title" data-ng-model="summary"></div>
                    <div class="form-group post-heading">
                      <label for="body">Body</label>
                      <textarea class="form-control" rows="10" id="body" data-ng-model="body" data-ng-autosize></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputFile">Upload an Image</label>
                      <input type="file" id="fileURL">
                      <p class="small help-block">jpg, png, pdf, and gif formats are supported</p>
                    </div>
                    <div class="text-right">
                      <a href data-ng-click="update()" class="btn btn-default">Update</a>
                  </div>
                </div>
            </div>
        </div>
    </article>   
 </form>     
      
