<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('images/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{post.data.data.getPost.title}}</h1>
                        <h2 class="subheading">{{post.data.data.getPost.summary}}</h2>
                        <span class="meta">Posted by <a href="#">{{post.data.data.getPost.author.firstName}}</a> on {{post.data.data.getPost.createdAt | date: 'MMMM dd, yyyy'}} <i class="fa fa-heart-o" aria-hidden="true"></i> {{post.data.data.getPost.likes}} <i class="fa fa-comment-o" aria-hidden="true"></i> {{post.data.data.getPost.comments.pageInfo.count}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="small text-muted">Keywords: {{post.data.data.getPost.keywords}}</p>
                    <p>{{post.data.data.getPost.body}}</p>   
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <label for="body">Write A Comment</label>
                    <textarea class="form-control" rows="10" id="body" data-ng-model="comment" data-ng-autosize></textarea>
                    <div class="text-right"><br><a href data-ng-click="publish(post.data.data.getPost.id)" class="btn btn-default">Publish</a></div>
                </div>
            </div>
        </div>
    </article>

    

    <article data-ng-if="post.data.data.getPost.comments.pageInfo.count>0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2>Comments</h2>
                    <div data-ng-repeat="comment in post.data.data.getPost.comments.edges">
                    
                  
                    <p class="text-muted small">by {{comment.node.author.firstName}} on {{comment.node.modifiedAt | date: 'MMMM dd, yyyy'}}</p>
                    <p>{{comment.node.body}}</p>
                    </div>
                </div>
            </div>
        </div>
    </article>