<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('images/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                      <p>
                        Hello,
                      </p>
                      <h1 data-ng-if="!profile.data.data.getUser.firstName">Thanks for Signing Up!</h1>
                      <span data-ng-if="!profile.data.data.getUser.firstName" class="meta">your name is blink, you can update your name below</span>
                      <h1 data-ng-if="profile.data.data.getUser.firstName">{{firstname}} {{lastname}}</h1>
                      <span data-ng-if="profile.data.data.getUser.firstName" class="meta">Welcome Back, You Last Visited On {{profile.data.data.getUser.lastLogin | date: 'MMMM dd, yyyy'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- profile Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div>
                     <ul class="list-inline h1">
                        <li>  
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                          </span>
                        </li>
                        
                      </ul>
                  </div>
                  <div class="form-group">
                    </div>
                    <div class="form-group post-heading">
                      <label for="first name" class="post-heading">First Name</label>
                      <input type="text" class="form-control" data-ng-model="firstname">
                    </div>
                    <div class="form-group post-heading">
                      <label for="last name" class="post-heading">Last Name</label>
                      <input type="text" class="form-control" id="lastname" data-ng-model="lastname">
                    </div>
                    <div class="form-group">
                      <label for="upload a file">Upload an Image</label>
                      <input type="file" id="fileURL" data-ng-model="avatarURL">
                      <p class="small help-block">jpg, png, pdf, and gif formats are supported</p>
                    </div>
                    <div class="text-right">
                      <a href="" data-ng-click="edit(profile.data.data.getUser.id)" class="btn btn-default">UPDATE</a>
                    </div>
                 </div>
                  
                    
                </div>
            </div>
        </div>
    </article>
    