<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('images/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                      <p>
                        Hello
                      </p>  
                      <h1>{{profile.data.data.loginUserWithAuth0Lock.user.username}}</h1>
                        <h2 class="subheading">{{post.data.data.getPost.summary}}</h2>
                        <span class="meta">Your Stats: 10 <i class="fa fa-heart-o" aria-hidden="true"></i> {{post.data.data.getPost.likes}} 25 <i class="fa fa-comment-o" aria-hidden="true"></i>  {{post.data.data.getPost.comments.pageInfo.count}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- profile Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                 
                  <div>
                     <ul class="list-inline h1">
                        <li>  
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                          </span>
                        </li>
                        
                      </ul>
                  </div>
                
                  <div class="panel panel-default">
                      <div class="panel-body">
                       {{profile.data.data.loginUserWithAuth0Lock.user.username}}
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        {{profile.data.data.loginUserWithAuth0Lock.firstName}}
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        {{profile.data.data.loginUserWithAuth0Lock.lastName}}
                      </div>
                    </div>
                    <div class="text-right"><button type="button" class="btn btn-default">Update</button></div> 
                </div>
            </div>
        </div>
    </article>
    